@inherits LayoutComponentBase

<main>
    <header>
        <span>spotboard</span>
    </header>

    <div>
        @Body
    </div>
    
    <footer>
        <span> Made with 💜 by <a href="https://luizcamargo.dev" target="_blank">Luiz Camargo</a> </span>
    </footer>
</main>
