<div id="main-content" style="flex-direction: @FlexDirection">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string FlexDirection { get; set; } = "row";
}
