

<button @onclick="OnClick" class="spotify-btn-sec">
    @ChildContent
</button>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public Action OnClick { get; set; }
}
