footer {
    height: 5rem;
    width: 100%;
    background: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

a {
    text-decoration: underline;
    color: #fff;
}
