<header>
    <span @onclick="BackToIndex">spotboard</span>
</header>

@code {

    void BackToIndex()
    {
        if (navigation.Uri != navigation.BaseUri)
        {
            navigation.NavigateTo("/", forceLoad: true);
        }
    }
}
