@using Spotboard.Shared.Data;

<div class="my-hot-100" id="@Id">
    <img src="/images/sample.png" class="sample" />

    <div class="top-items">
        @foreach (var item in TopItems)
        {
            <div class="top-item">
                <span class="track-name">@item.Name</span>
                <span>@(string.Join(", ", item.Artists.Select(x => x.Name)?.ToList()))</span>
            </div>
        }
    </div>

    <div class="footer-name">hot 100 | top 10 by @Name</div>
</div>


@code {
    [Parameter]
    public IList<Item>? TopItems { get; set; }

    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public string? Id { get; set; }
}
