<button @onclick="OnClick" class="spotify-btn" id="@Id">
    @ChildContent
</button>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public Action OnClick { get; set; }

    [Parameter]
    public string Id { get; set; } = new Guid().ToString();
}
