@page "/home"
@inherits BasePage


@if (IsLoading)
{
    <Loading />
}
else if (_userProfile is not null)
{
    <MainContent>
        <Aside>
            <h1>Hey, @(_userProfile.DisplayName)!</h1>
            <h2>Customize your Hot 100</h2>
            <Logout />
        </Aside>

        <div>
            <img src="images/sample.png" id="sample" />
        </div>
    </MainContent>

 
}

@code {
    UserProfile? _userProfile { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var code = spotifyService.GetAuthCode();

        if (string.IsNullOrEmpty(code) == false)
        {
            await spotifyService.GenerateTokenAsync(code);
        }

        var authModel = await authRepository.GetAsync();

        if (authModel is null)
        {
            navigationManager.NavigateTo("/", forceLoad: true, replace: true);
            return;
        }

        _userProfile = await spotifyService.GetUserProfileAsync();
    }
}