@page "/"
@inherits BasePage

<MainContent>
    <img src="/images/example.png" id="sample" />
    <Aside>
        <h1>Create your Spotify Hot 100</h1>
        <span>Sign in to get started.</span>
        <SpotifyButton OnClick="Authorize">
            SIGN IN WITH SPOTIFY
        </SpotifyButton>
    </Aside>
</MainContent>



@code {

    void Authorize()
    {
        spotifyService.Authorize();
    }

}