@page "/privacy-policy"
@inherits BasePage

<MainContent FlexDirection="column">
    <h1>Privacy Policy</h1>
    <p>Our system (Spotboard) uses the Spotify API to bring the information and make a perfect and incredible experience.</p>
    <p>When using Spotboard, you agree to share your profile information on Spotify and also the most listened to songs and artists, so we can create your list, cool, right?</p>
    <p>None of the data used by Spotboard is stored or collected and is not shared with third parties. All information is used exclusively for the creation of your list at the time you use it.</p>
    <p>If you want to remove Spotboard permissions to generate your listing, <a target="_blank" href="https://support.spotify.com/us/article/spotify-on-other-apps/">click here</a>.</p>
</MainContent>
